*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  width: 100%;
  min-height:100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar{
  width: 100%;
  display: flex;
  align-items:center;
}
.logo{

  width:80px;
  height:80px;
  border-radius:120px;
  margin: 30px 0 ;
  cursor:pointer;
}
.icon{
  width:44px;
  height:44px;
  border-radius:200px;
  cursor: pointer;;
  border-radius: 200px;
  display:none;
}
nav{
  flex: 1;
  text-align: right;
}
.title{
  color:white;
  font-size:34px
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a{
  text-decoration:none;
  color: white;
  font-size:14px;
}
nav ul li a:hover{
  color:rgb(34 211 238);
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.col1{
  flex-basis:40%;
  position: relative;
  margin-left: 50px;
}
.col1 h2{
  font-size: 40px;
  border-left:8px solid red;
  color:white;
}
.col1 h3{
  font-size:25px;
  color:white;

}
.col1 h5{
  font-size:15px;
  color:white;
}
.col1 p{
  font-size:12px;
  color:white;
}
button{
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color:black;
  border-radius:10px;
  cursor: pointer;

}
button a{
  text-decoration: none;
  color:black;
  font-size:15px;
}
button:hover{
  background:linear-gradient(to right, lightblue,blue );
}
.col2{
  position:relative;
  flex-basis: 60%;
  align-items: center;
  display:flex;
}
.movie{
  position: relative;
  left:430px;
  bottom: 170px;
  width: 500px;
  border:0px solid black;
  box-shadow:4px 0px 0px 0px blue;

}
.title{

  position: relative;
  right:400px;
  font-family: 'Play', sans-serif
}
.play{
  position: relative;
  left:150px;
  bottom:245px;
  border:solid;
  color:blue;
  border-radius:30px;
}
body{
  background-color: black;
}
span{
  color: #f16d5c;
}
.footer{
  display: flex;
  color:white;
  justify-content: center;
}
.social{
  display: flex;
  position: relative;
}
.social a{
  display: flex;
  position:absolute;
  right: 0%;
  text-decoration: none;
  background-color: blue;
}
@media only screen and (max-width:700px){
  nav ul{
    width:100%;
    background:linear-gradient(#ff54a5,#ff575a);
    position:absolute;
    top: 75px;
    right: 0;
    z-index:2;
  }
  nav ul li{
    display: block;
    margin-top:10px;
    margin-bottom:10px;

  }
  nav ul li a{
    color:blue;

  }
  .icon{
    display:inline-block;
    position: absolute;
    right:0px; 
  }
  #menulist{
    overflow:hidden;
    transform: 0.5s;
  }
  .row{
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .col2{
    flex-basis:100%;
    margin-bottom: 50px;

  }
  .col2.movie{
    width: 50%;
  }
  .col1{
    flex-basis:100%;

  }
  .col1 h2{
    font-size: 35px;
  }
  .col1 h3{
    font-size: 15px;
  }
  .col1 h5{
    font-size: 10px;
  }
  button{
    width: 100px;
    border: 0;
    padding: 10px 10px;
    outline: none;
    border-radius:10px;
    cursor: pointer;
  }
  button a{
    font-size:9px;
  }
  .movie{
    position: relative;
    left:200px;
    bottom: 130px;
    width: 200px;
    height: 200px
    border:0px solid black;
    box-shadow:4px 0px 0px 0px blue;

  }

}
